__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
.venv/
env/
.env/

.ipynb_checkpoints

*.csv
*.dat
*.out
*.log
*.parquet
*.json
*.pkl
*.pb
*.h5

/data/
/kafka_data/
/zookeeper_data/
/pg_data/
/hadoop_data/
/namenode_data/
/datanode_data/

/spark-warehouse/
/metastore_db/
/checkpoint/
derby.log
*.crc

.env
*.pem
*.key
credentials.json
secrets/

.vscode/
*.code-workspace

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/